.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6173fb;
  border: 0;
  border-radius: 100px;
  padding: 0 1rem;
  transition: filter 200ms;
  -webkit-appearance: none;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-family: inherit;
  min-height: 35px;
  color: #fff;
}

.button:disabled {
  background-color: #eaeaea;
  color: #232323;
  cursor: not-allowed;
}

.button:not(:disabled):hover {
  filter: brightness(0.9);
}

.button > * {
  margin: 0.5rem 0;
}

.iconButton {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
}

.iconButton > * {
  margin: 0;
}

.button a {
  color: inherit;
}

.button a:hover {
  color: inherit;
}

.transparentButton {
  background-color: transparent;
  border: 1px solid #eaeaea;
  color: #232323;
}
