.button {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #eee; */
  /* background-color: rgba(0, 0, 0, 0.06); */
  background-color: #6173fb;
  border: 0;
  border-radius: 100px;
  padding: 0 1rem;
  /* box-shadow: 0 0 15px rgba(0,0,0,0.1); */
  transition: filter 200ms;
  -webkit-appearance: none;
  margin: 0.5rem 0;
  font-size: 1rem;
  font-family: inherit;
  min-height: 35px;
  /* color: inherit !important; */
  color: #fff;
}

.button:disabled {
  background-color: #eaeaea;
  color: #232323;
  cursor: not-allowed;
}

.button:not(:disabled):hover {
  /* box-shadow: 0 0 15px rgba(0,0,0,0.2); */
  filter: brightness(0.9);
  color: #fff;
}

.button:visited {
  color: #fff;
}

.button > * {
  margin: 0.5rem 0;
}

.iconButton {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
}

.iconButton > * {
  margin: 0;
}

.button a {
  color: #fff;
}